@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/StyleSheet.css">
    <title>afron leather</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Comfortaa:wght@300&family=Kanit:wght@300&family=Krona+One&family=M+PLUS+1p:wght@300&family=Poiret+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">


    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Krona+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Kanit:wght@300&family=Krona+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    </head>
    <body class="back">
        
            <div class="nav">
                <div class="nav1">
                    <ul class="list1">
                        <li><div class="items" style="margin-left: 0px"><a style="text-decoration: none; color:white" href="afronimpex.com">afronleathers.com</a></div></li>
                        <li><div class="items"><span><img src="/imgs/593-transparent-background-phone-icon-white-11562889130j9sl4rmews.png" width="10px"> </span><span>03044355551</span></div></li>
                       <div class="lefty"><li><div class="items"><a style="text-decoration: none; color:white" @Html.ActionLink("About us","information","Home")</a></div></li>
                       <li><div class="items"><a href="https://m.facebook.com/afronimpex/"><img src="/imgs/facebook-transparent-logo-png-0.png" width="19px"></a></div></li>
                       <li><div class="items"><a href="https://instagram.com/afronimpex?igshid=YmMyMTA2M2Y="><img src="/imgs/580b57fcd9996e24bc43c521.png" width="21px"></a></div></li></div>
                    </ul>
                </div>
                <div class="nav2">
                    <ul class="list2">
                        <li class="al" style="margin-top: 8px; font-size: larger;"><div class="items2" style="color:dimgray; font: bold; ">AFRON  LEATHERS</div></li>
                        <li  style="margin-left: 421px; margin-top: 0px;"><div class="items2"><img src="/imgs/AFRON-CMYK2.png" width="55px" style="display: center;"></div></li>
                        <li style="margin-left: 395px;"><div class="items2"><span><input class="sbar" type="search" placeholder="Search you like"></span><span><img src="/imgs/search-icon-png-21.png" width="20px" style="margin-left: 5px",margin-top="10px"></span></div></li>
                    </ul>
                </div>
                <div class="nav3">
                    <ul class="list3">
                        <li><div class="items3"><img src="/imgs/img_529940.png" width="17px"> <a style="text-decoration: none; color: rgb(82, 79, 79); " @Html.ActionLink("Men","Men","Home") </a></div></li>
                        <li class="wimg"><div class="items3" ><span class="women"><img src="/imgs/businesswoman-female-icon-19.png" width="18px"></span><span><a style="text-decoration: none; color: rgb(82, 79, 79); " @Html.ActionLink("Women","Women","Home")</a></span></div></li>
                        <li style="margin-left: 955px;"><div class="items3"><span style="color: rgb(82, 79, 79);">Cart</span><span><img src="/imgs/basket-cart-icon-27.png" width="16px"></span></div></li>
                    </ul>
                </div>
            </div>
            
           <div class="animations">
            <div class="animation">
                <img src="/imgs/aa.png" class="animated">
                <img src="/imgs/bbb.png" class="animated">
                <img src="/imgs/1caf8fba37f1f2bf1abc8528d0e64b21.jpg" class="animated">
                <img src="/imgs/leather-banner-01-1920x750.png" class="animated">
                <img src="/imgs/01-1600x608.jpg" class="animated">
                <script src="/js/slideshow.js"></script>
            </div>
            <div class="animation2"><video class="video1" loop autoplay muted><source src="/imgs/jacketvideo.mp4" type="video/mp4"></video></div>

           </div>
          <div class="tempo">
            <div class="temp1"><input class="btn" type="button" id="btn6" value="Click Here" onclick="window.location.replace('@Url.Action("Men","Home")')"> </div>
            <div class="temp2"><input class="btn" type="button" id="btn6" value="Click Here" onclick="window.location.replace('@Url.Action("Women","Home")')"> </div>

          </div>

          <div class="tproduct"><h1>Treanding Products</h1></div>
          <div class="im">
            <div class="forbtn">
                <div class="img"><img class="image" src="/imgs/Mens-B3-Shearling-Flight-Jacket-1.png"></div>
            <div> <input class="bte" type="button" id="btn7" value="Add to Cart"></div>
           </div>
           <div class="forbtn">
            <div class="img"><img class="image" src="/imgs/gg.png"></div>
            <div> <input class="bte" type="button" id="btn8" value="Add to Cart"></div>
           </div>

            <div class="forbtn">
                <div class="img"><img class="image" src="/imgs/hg.jpg"></div>
                <div> <input class="bte" type="button" id="btn9" value="Add to Cart"></div>
            </div>

            <div class="forbtn">
                <div class="img"><img class="image" src="/imgs/RAF-B3-Aviator-Shearling-Bomber-Jacket-1.png"></div>
                <div> <input class="bte" type="button" id="btn10" value="Add to Cart"></div>
            </div>
          </div>

          <div class="im2">
            <div class="forbtn">
                <div class="img1"><img class="image1" src="/imgs/Mens-Motorcycle-Distressed-Brown-Leather-Jacket.jpg"></div>
                <div> <input class="bte" type="button" id="btn11" value="Add to Cart"></div>
            </div>

           <div class="forbtn">
            <div class="img1"><img class="image1" src="/imgs/My-Chemical-Romance-NJ-Cross-Black-Jacket.jpg"></div>
            <div> <input class="bte" type="button" id="btn12" value="Add to Cart"></div>
           </div>
            <div class="forbtn">
                <div class="img1"><img class="image1" src="/imgs/Mens-Retro-Cafe-Racer-Distressed-Brown-Leather-Jacket.jpg"></div>
                <div> <input class="bte" type="button" id="btn13" value="Add to Cart"></div>
            </div>
            <div class="forbtn">
                <div class="img1"><img class="image1" src="/imgs/Black-leather-jacket-for-men-1.jpg"></div>
                <div> <input class="bte" type="button" id="btn14" value="Add to Cart"></div>
            </div>
          </div>

          
          <div class="beforevideo">
            <div class="black">
                <div>
                    <img class="ime" src="/imgs/portrait-sexy-confident-attractive-man-wearing-fashionable-leather-jacket-keeping-hand-his-collar-looking-camera-233568917.jpg">
                    <p class="pa" style="margin-left: 6px;">Looking your best is more important than anything and with our style staples, you will feel good, look elegant and ensure to stand out.</p>
                </div>
               

            </div>
            <div class="white">
                <img class="ime" src="/imgs/R13-509s.jpg">
                <p class="pa" style="margin-left: 6px;">From classy to bold new designs, our outerwear are the epitome of luxury fashion that speaks attitude!</p>
            </div>

          </div>

          <div class="vboder"><video class="video" loop autoplay muted width="100% 100%"><source src="/imgs/sds.mp4" type="video/mp4"></video></div>
         
         
          <div class="aftervideo">

            <div class="button1">
                <div>Help Center:</div>
                <div><input class="bt" type="button" id="btn6" value="Click Here" onclick="window.location.replace('@Url.Action("Helpcenter","Home")')"> </div>
            </div>
            <div class="button1">
                <div>More Information:</div>
                <div><input class="bt" type="button" id="btn6" value="Click Here" onclick="window.location.replace('@Url.Action("information","Home")')"> </div>
            </div>
            <div class="button1">
                <div>Events:</div>
                <div><input class="bt" type="button" id="btn6" value="Click Here" onclick="window.location.replace('@Url.Action("Eventz","Home")')"> 
                    </div>
            </div>


          
         </div>
         


         
          <div class="main22">
            <br/><br/>
            <img class="imge" width="60px" style="margin-top: 35px;" src="/imgs/AFRON-CMYK1.png">
            <br/><br/>
        </div>
          <div class="main2">
            
            
            <div class="m2"><div><h2 style="color: white; margin-left: 5px; border-bottom: 2px solid white;">Contact us</h2></div><br/>
            <div>Email: <a style="text-decoration: none; color: white;" href="afronimpex@gmail.com">afronimpex@gmail.com</a></div><br/>
            <div>Phone#: 03044355551</div><br/>
            <div><a href="https://instagram.com/afronimpex?igshid=YmMyMTA2M2Y="><img width="25px" src="/imgs/138-1383474_insta-icon-white-instagram-logo-white-black-background.png"></a></div><br/>
            <div><a href="afronimpex@gmail.com"><img width="28px" src="/imgs/11640440751bsmwuovtjayt8jstvsleb3qvscmefzuys839sq6aqmucnc0uq1fdoynv7oysbpu2cnrwvflysdzv3pmxnz0vpofmqmlqoe3gpgcq.png"></a></div><br/>
            <div><a href="https://m.facebook.com/afronimpex/"><img width="35px" src="/imgs/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"></a></div>
            </div>


            <div class="m2"><div><h2 style="color: white; border-bottom: 2px solid white;">Men's Collection</h2></div>
            <div><img style="margin-left: 41px;" width="100px" height="120px" src="/imgs/wjac.png"></div><br/>
            <div class="ul"><a style="text-decoration: none; color:white;" @Html.ActionLink("Simple Leather Jacket","Men","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;" @Html.ActionLink("Motorbike Leather Jacket","Men","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Bomer Leather Jacket","Men","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Winter Leather Jacket","Men","Home")</a></div><br/>
        </div>


            <div class="m2"><div><h2 style="color: white; border-bottom: 2px solid white;">Women's Collection</h2></div>
            <div><img style="margin-left: 45px;" width="100px" height="120px" src="/imgs/qw.png"></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Simple Leather Jacket","Women","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Women bike Jacket","Women","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Women Bomer Jacket","Women","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Women Winter Jacket","Women","Home")</a></div><br/>
        </div>
    </div>
          
        
    <div><p style="text-align: center; margin-top: 20px; margin-bottom: 10px; font-size: medium; color: black; background-color: white; ">©Afron Leathers 2022. All rights reserved.</p></div>


        
      
         
        
    </body>
</html>