@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!DOCTYPE html>
<html>
    <head><title>Men's Products</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Krona+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Kanit:wght@300&family=Krona+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    </head>
<body>
        <div class="main">
            <div class="nav">
                <div class="nav1">
                    <ul class="list1">
                        <li><div class="items" style="margin-left: 0px"><a style="text-decoration: none; color:white" href="afronimpex.com">afronleathers.com</a></div></li>
                        <li><div class="items"><span><img src="/imgs/593-transparent-background-phone-icon-white-11562889130j9sl4rmews.png" width="10px"> </span><span>03044355551</span></div></li>
                       <div class="lefty"><li><div class="items">About Us</div></li>
                       <li><div class="items"><a href="https://m.facebook.com/afronimpex/"><img src="/imgs/facebook-transparent-logo-png-0.png" width="19px"></a></div></li>
                       <li><div class="items"><a href="https://instagram.com/afronimpex?igshid=YmMyMTA2M2Y="><img src="/imgs/580b57fcd9996e24bc43c521.png" width="21px"></a></div></li></div>
                    </ul>
                </div>
                <div class="nav2">
                    <ul class="list2">
                        <li class="al" style="margin-top: 8px; font-size: larger;"><div class="items2" style="color:dimgray; font: bold; ">AFRON  LEATHERS</div></li>
                        <li  style="margin-left: 421px; margin-top: 0px;"><div class="items2"><img src="/imgs/AFRON-CMYK2.png" width="55px" style="display: center;"></div></li>
                        <li style="margin-left: 395px;"><div class="items2"><span><input class="sbar" type="text" placeholder="Search you like"></span><span><img src="/imgs/search-icon-png-21.png" width="20px" style="margin-left: 5px",margin-top="10px"></span></div></li>
                    </ul>
                </div>
                <div class="nav3">
                    <ul class="list3">
                        <li><div class="items3"><img src="/imgs/img_529940.png" width="17px"> <a style="text-decoration: none; color: rgb(82, 79, 79);" href="menp.html">Men</a></div></li>
                        <li><div class="items3"><img src="/imgs/0c02ce4850d6b88d44f87271ff5f4a71.png" width="20px"> <a style="text-decoration: none; color: rgb(82, 79, 79); " @Html.ActionLink("Home","Index","Home")</a></div></li>
                        <li style="margin-left: 955px;"><div class="items3"><span style="color: rgb(82, 79, 79);">Cart</span><span><img src="/imgs/basket-cart-icon-27.png" width="17px"></span></div></li>
                    </ul>
                </div>
            </div>
            <div class="banner1" style="width: 98.5%; margin-top: 5px;"><img src="/imgs/MEN-LEATHER-JACKET-1.png" width="100%"></div>
            <br/> 
    
            <div class="menu">
                <div class="menubuttons">
                    <div class="menscollection">
                        <h2 style="color: rgb(39, 38, 38);">Men's Collection</h2>
                        <h4 style="color: red;">Red line show out of stock</h4>
                    </div>
                    <ul class="menlist">
                        
                        <a href="menp.html"><li><input class="butn" type="button" id="btn15" value="Leather Jacket"></li></a>
                        <li><input class="butn" type="button" id="btn15" value="Motorbike Leather Jacket" style="text-decoration: line-through red 2px solid;"></li>
                        <li><input class="butn" type="button" id="btn15" value="Bomer Leather Jacket" style="text-decoration: line-through red 2px solid;"></li>
                        <li><input class="butn" type="button" id="btn15" value="Winter Leather Jacket" style="text-decoration: line-through red 2px solid;"></li>
                    </ul>
                    <br/>
                    <hr/>
                    <br/>
                    <div><img style="width: 380px; height: 380px;" src="/imgs/abab.png"></div>
                    <div><img style="width: 380px; height: 83px; margin-top: 0px;" src="/imgs/header_saleitems3.jpg"></div>

                </div>
                <div>
              
                    <br/>
                    <div><h1 style="color:rgb(73, 73, 73)">Men's Products</h1></div>
                    <div><p style="color: gray; font-size:large">An awesomely wide range of men's jackets you won't find anywhere else</p></div>
        
                    <hr/>
                <div class="menproduct">
                    <div class="prd">
                        <div class="p1" style="color: white; background-color:darkorange; background-size: 50px; margin-bottom: 3px">Product1</div>
                        <div class="imgee"><img class="image" src="/imgs/Mens-B3-Shearling-Flight-Jacket-1.png"></div>
                        <div style="color: rgb(92, 90, 90); margin-bottom: 3px;">Winter Leather Jacket</div>
                        <div style="font-size: large; margin-right: 8px;"><span>Price: </span><span style="text-decoration:line-through; color:red;">300$</span><span>  250$</span></div>
                    <div> <input class="btee" type="button" id="btn7" value="Add to Cart"></div>
                   
                   </div>
                   <div class="prd">
                    <div class="p1" style="color: white; background-color:darkorange; background-size: 50px; margin-bottom: 3px">Product2</div>
                    <div class="imgee"><img class="image" src="/imgs/gg.png"></div>
                    <div style="color: rgb(92, 90, 90); margin-bottom: 3px;">Winter Staff Leather Jacket</div>
                    <div style="font-size: large; margin-right: 8px;"><span>Price: </span><span style="text-decoration:line-through; color:red;">300$</span><span>  250$</span></div>
                    <div> <input class="btee" type="button" id="btn8" value="Add to Cart"></div>
                   </div>
                   <div class="prd">
                    <div class="p1" style="color: white; background-color:darkorange; background-size: 50px; margin-bottom: 3px">Product3</div>
                    <div class="imgee"><img class="image" src="/imgs/Black-leather-jacket-for-men-1.jpg"></div>
                    <div style="color: rgb(92, 90, 90); margin-bottom: 3px;">Leather Jacket</div>
                    <div style="font-size: large; margin-right: 8px;"><span>Price: </span><span style="text-decoration:line-through; color:red;">300$</span><span>  250$</span></div>
                    <div> <input class="btee" type="button" id="btn14" value="Add to Cart"></div>
                    </div>
                </div>

                <div class="menproduct2">
                    <div class="prd">
                        <div class="p1" style="color: white; background-color:darkorange; background-size: 50px; margin-bottom: 3px">Product4</div>
                        <div class="imgee"><img class="image" src="/imgs/RAF-B3-Aviator-Shearling-Bomber-Jacket-1.png"></div>
                        <div style="color: rgb(92, 90, 90); margin-bottom: 3px;">Bomer Leather Jacket</div>
                        <div style="font-size: large; margin-right: 8px;"><span>Price: </span><span style="text-decoration:line-through; color:red;">300$</span><span>  250$</span></div>
                        <div> <input class="btee" type="button" id="btn7" value="Add to Cart"></div>
                   </div>
                   <div class="prd">
                    <div class="p1" style="color: white; background-color:darkorange; background-size: 50px; margin-bottom: 3px">Product5</div>
                    <div class="imgee"><img class="image" src="/imgs/Mens-Motorcycle-Distressed-Brown-Leather-Jacket.jpg"></div>
                    <div style="color: rgb(92, 90, 90); margin-bottom: 3px;">Men's Motorcycle Jacket</div>
                    <div style="font-size: large; margin-right: 8px;"><span>Price: </span><span style="text-decoration:line-through; color:red;">300$</span><span>  250$</span></div>
                    <div> <input class="btee" type="button" id="btn8" value="Add to Cart"></div>
                   </div>
                   <div class="prd">
                    <div class="p1" style="color: white; background-color:darkorange; background-size: 50px; margin-bottom: 3px">Product6</div>
                    <div class="imgee"><img class="image" src="/imgs/Mens-B3-Shearling-Aviator-Jacket-min.jpg"></div>
                    <div style="color: rgb(92, 90, 90); margin-bottom: 3px;">Sheep Skin Jacket</div>
                    <div style="font-size: large; margin-right: 8px;"><span>Price: </span><span style="text-decoration:line-through; color:red;">300$</span><span>  250$</span></div>
                    <div> <input class="btee" type="button" id="btn8" value="Add to Cart"></div>
                   </div>
                   </div>

                </div>

            </div>
       
        </div>
       
       
        <div class="main2">
            
            
            <div class="m2"><div><h2 style="color: white; margin-left: 5px; border-bottom: 2px solid white;">Contact us</h2></div><br/>
            <div>Email: <a style="text-decoration: none; color: white;" href="afronimpex@gmail.com">afronimpex@gmail.com</a></div><br/>
            <div>Phone#: 03044355551</div><br/>
            <div><a href="https://instagram.com/afronimpex?igshid=YmMyMTA2M2Y="><img width="25px" src="/imgs/138-1383474_insta-icon-white-instagram-logo-white-black-background.png"></a></div><br/>
            <div><a href="afronimpex@gmail.com"><img width="28px" src="/imgs/11640440751bsmwuovtjayt8jstvsleb3qvscmefzuys839sq6aqmucnc0uq1fdoynv7oysbpu2cnrwvflysdzv3pmxnz0vpofmqmlqoe3gpgcq.png"></a></div><br/>
            <div><a href="https://m.facebook.com/afronimpex/"><img width="35px" src="/imgs/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"></a></div>
            </div>


            <div class="m2"><div><h2 style="color: white; border-bottom: 2px solid white;">Men's Collection</h2></div>
            <div><img style="margin-left: 41px;" width="100px" height="120px" src="/imgs/wjac.png"></div><br/>
            <div class="ul"><a style="text-decoration: none; color:white;" @Html.ActionLink("Simple Leather Jacket","Men","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;" @Html.ActionLink("Motorbike Leather Jacket","Men","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Bomer Leather Jacket","Men","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Winter Leather Jacket","Men","Home")</a></div><br/>
        </div>


            <div class="m2"><div><h2 style="color: white; border-bottom: 2px solid white;">Women's Collection</h2></div>
            <div><img style="margin-left: 45px;" width="100px" height="120px" src="/imgs/qw.png"></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Simple Leather Jacket","Women","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Women bike Jacket","Women","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Women Bomer Jacket","Women","Home")</a></div><br/>
            <div><a style="text-decoration: none; color:white;"  @Html.ActionLink("Women Winter Jacket","Women","Home")</a></div><br/>
        </div>
    </div>
    <div><p style="text-align: center; margin-top: 20px; margin-bottom: 10px; font-size: medium; color: black; background-color: white; ">©Afron Leathers 2022. All rights reserved.</p></div>
    </body>

       
</html>


